@import "tailwindcss";


:root {
  --background: rgb(60 61 70);
  --foreground: rgb(146 146 146);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans:  Helvetica, sans-serif;
  --font-mono: Arial, sans-serif ;
}

body {
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
}

.container {
  @apply mx-auto px-4 md:px-8 lg:px-16;
}
.nav-link {
  @apply text-foreground hover:text-background hover:border-b-2 border-foreground/15 transition-all duration-200;
}
a {
  @apply text-foreground hover:text-background transition-all duration-200;
}